/*Gereales*/

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif;
}

/*Nav*/

.navbar_fundacion {
	position: fixed;
	z-index: 100;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
	background-color: yellowgreen;
	top: 0;
}

.navbar-default .navbar-nav > li > a{
	color: white;
	padding: 2vw 3vw 2vw 2vw;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #272794;

}

.navbar_derecha {
	padding-right: 2vw;
}

.navbar_logo {
	max-width: 80%;
	padding-left: 6vw;
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-toggle .icon-bar {
		background-color: white;
	}

	.navbar-default .navbar-toggle:focus {
		background-color: rgba(0,1,0,0.3);
	}

	.navbar-default .navbar-toggle:hover{
		background-color: rgba(0,1,0,0.3);
	}

	.navbar_logo {
	max-width: 45%;
	padding-left: 3vw;
	}
}

/*Banner*/

.banner {
	margin-top: 5vw;
}

.item img {
	filter: brightness(0.7);
	background-size: cover;
}

.carousel-caption {
	margin-bottom: 10vw;
}
.carousel-caption h1{
	font-size: 70px;
}

.carousel-caption p{
	font-size: 20px;
}

@media screen and (max-width: 767px){
	.banner {
	margin-top: 15vw;
	}

	.carousel-caption h1{
	font-size: 25px;
	}

	.carousel-caption p{
		font-size: 1.5rem;
	}

	.carousel-caption {
	margin-bottom: 0;
	}

	.carousel-inner {
		height: 60vw;
	}

	.carousel-inner .item img {
		height: 60vw;
	}

}

/*Noticias Destacadas*/

.noticias {
	margin-top: 10vw;
	margin-bottom: 8vw;
}

.noticia__destacada a{
	text-decoration: none;
	color: #333333;
}

.noticia__destacada a:hover {
	text-decoration: none;
	color: yellowgreen;
}

.noticia__destacada__primera {
	margin-left: 4.5%;
}


@media screen and (max-width: 767px){
	
	.noticia__destacada {
	margin-bottom: 30px;
	}

	.noticia__destacada__primera {
		margin-left: 0;
	}
}

/*Donación*/

.donacion {
	background-color: #333399;
	margin-bottom: 0;
}

.donacion__info {
	color: white;
}

.donacion__boton {
	text-align: center;
}

.donacion__boton a {
	text-decoration: none;
	color: white;
}

.donacion__boton h4{
	border-radius: 10vw;
	background-color: yellowgreen;
	padding: 3vw;
}

/*Footer*/

footer {
	padding-top: 6vw;
	background-color: #e9e3e3;
}
